
/* ESPECIFICIDAD: 0,0,1 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;    
}

/* ESPECIFICIDAD: 0,0,1 */
nav {
    display: flex;
    flex-direction: row;
    gap: 1.75em;
}
@media (min-width: 20em) and (max-width: 49.9375em) {
    /* ESPECIFICIDAD: 0,0,1 */
    header {
        flex-direction: column; /* Advertencia: Redefinición de flex-direction */
        align-items: center;    /* Advertencia: Redefinición de align-items */
    }
    /* ESPECIFICIDAD: 0,0,1 */
    nav {
        flex-direction: column; /* Advertencia: Redefinición de flex-direction */
    }
    /* ESPECIFICIDAD: 0,0,1 */
    video {
        width: 100%;
        height: auto;
    }
    /* ESPECIFICIDAD: 0,0,2 */
    header + p {
        display: none;
    }
}